@import url(../../vendor/normalize.css);
@import url(../../fonts/fonts.css);

@import url(../../images/back-button/back-button.css);

html {
  box-sizing: border-box;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 220px;
  min-height: 100vh;
  background-color: black;
  font-family: 'RobotoSlab';
  font-weight: 200;
  box-sizing: border-box;
  margin: 0;
  padding: 36px;
  background-image: url(./images/background.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.page:after {
  content: '';
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.7) 100%);
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
}

.title {
  z-index: 1;
  text-shadow: 4px 4px 0 rgb(111, 187, 231);
}
/* * {
  border: 1px solid red;
} */
.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-bottom: 48px;
}

.menu__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 80%;
}

.menu__link {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #242424;
}

.content {
  z-index: 1;
}

.content__paragraph {
  margin: 0;
  margin-bottom: 28px;
  color: #242424;
  line-height: 1.5em;
}

.content__link {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-image: url(./images/stop.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  z-index: 4;
  padding: 12px;
  box-sizing: border-box;
}

.overlay:after {
  content: '';
  background-color: #362d2499;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
}

.header {
  text-align: center;
  z-index: 1;
}

@media (max-width: 480px) {
  .menu {
    display: none;
  }

  .content {
    display: none;
  }
  .overlay {
    display: flex;
  }
  .canvas {
    display: none;
  }
}
