@import url(../../vendor/normalize.css);
@import url(../../fonts/fonts.css);

@import url(../../images/back-button/back-button.css);

html {
  box-sizing: border-box;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 220px;
  min-height: 100vh;
  background-color: black;
  font-family: 'RobotoSlab';
  font-weight: 200;
  box-sizing: border-box;
  margin: 0;
  padding: 36px;
  background-image: url(./images/background.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.page:after {
  content: '';
  background: radial-gradient(circle, rgba(150, 150, 150, 0.3) 0%, rgba(150, 150, 150, 0.6) 100%);
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  backdrop-filter: blur(0px);
}

.cards {
  z-index: 1;
  display: flex;
  background-color: transparent;
  border: 2px solid #4e555c;
  color: #4e555c;
  padding: 16px;
  border-radius: 10px;
  width: 75%;
  overflow: scroll;
  backdrop-filter: blur(10px);
  position: relative;
  transition: transform 0.1s ease, background-color 0.1s ease;
  cursor: grab;
  user-select: none;
  transform: scale(0.99);
}

.cards_active {
  transform: scale(1);
  background-color: #ffffff2d;
  cursor: grabbing;
  backdrop-filter: blur(20px);
}

.cards__card {
  padding: 24px;
  text-align: center;
  margin-right: 12px;
  font-size: 72px;
  font-weight: 900;
  min-width: 150px;
  background-color: #bfbfbf99;
  border-radius: 10px;
  backdrop-filter: blur(100px);
}

.cards__card:last-child {
  margin-right: 0;
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-image: url(./images/stop.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  z-index: 4;
  padding: 12px;
  padding: 0;
}

.overlay:after {
  content: "";
  background-color: #362d2499;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
}

@media (max-width: 780px) {
  .overlay {
    display: flex;
  }
  .canvas {
    display: none;
  }
} */
