@import url(../../vendor/normalize.css);
@import url(../../fonts/fonts.css);

.page {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;
  min-height: 100vh;
  min-width: 280px;
  background-image: url(./images/underground.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.page:after {
  content: "";
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.kit-box {
  display: grid;
  justify-content: space-between;
  min-width: 85%;
  z-index: 1;
  grid-template-columns: repeat(10, 1fr);
  gap: 8px;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .1);
  box-shadow: 0 0 12px rgba(0, 0, 0, .6);
  padding: 12px 4px;
  border-radius: 5px;
  min-width: 72px;
  transition: all .07s ease;
  touch-action: manipulation;
  position: relative;
}

.key::after {
  content: "";
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  border-radius: 5px;
}

.key__id {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 900;
  font-size: 24px;
  filter: drop-shadow(0 0 3px white);
  user-select: none;
}

.key__role {
  margin: 0;
  font-size: 8px;
  text-transform: uppercase;
  user-select: none;
}

.playing {
  background-color: rgba(255, 255, 255, .2);
  box-shadow: 0 0 4px rgba(0, 0, 0, .8);
  transform: scale(.95)
}

@media (max-width: 1024px) {
  .kit-box {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 768px) {
  .kit-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .page:after {
    background-color: rgba(0, 0, 0, .7);
  }
  .key__id {
    display: none;
  }
  .key__role {
    font-size: 16px;
    text-transform: lowercase;
    font-weight: 900;
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, .8));
  }
  .kit-box {
    grid-auto-rows: 94px;
  }
}
