@import url(../../vendor/normalize.css);
@import url(../../fonts/fonts.css);

.page {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 48px;
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(42,44,47,1) 3%, rgba(104,124,185,1) 100%);
}
