@import url(../../vendor/normalize.css);
@import url(../../fonts/fonts.css);

.page {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;
  min-height: 100vh;
  background-image: url(./images/underground.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.page:after {
  content: "";
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.kit-box {
  display: flex;
  justify-content: space-between;
  min-width: 85%;
  z-index: 1;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .1);
  box-shadow: 0 0 12px rgba(0, 0, 0, .6);
  padding: 12px 4px;
  border-radius: 5px;
  min-width: 72px;
  transition: all .07s ease;
}

.key__id {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 900;
  font-size: 24px;
  filter: drop-shadow(0 0 3px white);
}

.key__role {
  margin: 0;
  font-size: 8px;
  text-transform: uppercase;
}

.playing {
  background-color: rgba(255, 255, 255, .2);
  box-shadow: 0 0 4px rgba(0, 0, 0, .8);
  transform: scale(.95)
}

