@font-face {
  src: url(./Inter-Regular.ttf) format('truetype');
  src: url(./Inter-Regular.woff2) format('woff2');
  src: url(./Inter-Regular.woff) format('woff');
  src: url(./Inter-Regular.otf) format('opentype');
  font-family: 'Inter';
  font-weight: 400;
}

@font-face {
  src: url(./Inter-Medium.ttf) format('truetype');
  src: url(./Inter-Medium.woff2) format('woff2');
  src: url(./Inter-Medium.woff) format('woff');
  src: url(./Inter-Medium.otf) format('opentype');
  font-family: 'Inter';
  font-weight: 500;
}

@font-face {
  src: url(./Inter-Black.ttf) format('truetype');
  src: url(./Inter-Black.woff2) format('woff2');
  src: url(./Inter-Black.woff) format('woff');
  src: url(./Inter-Black.otf) format('opentype');
  font-family: 'Inter';
  font-weight: 900;
}
