.back-button {
  width: 32px;
  height: 32px;
  z-index: 10;
  filter: drop-shadow(0 2px 8px black);
  position: absolute;
  top: 12px;
  left: 12px;
  opacity: 0.6;
  transition: all 0.2s ease;
  cursor: pointer;

  /* icon */
  background-image: url(./back.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.back-button:hover {
  opacity: 0.4;
  filter: drop-shadow(0 0px 2px black);
}
