@import url(../../vendor/normalize.css);
@import url(../../fonts/fonts.css);

@import url(../../images/back-button/back-button.css);

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 220px;
  min-height: 100vh;
  background-color: black;
  font-family: 'RobotoSlab';
  font-weight: 200;
  box-sizing: border-box;
  margin: 0;
  padding: 36px;
  background-image: url(./images/background.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.page:after {
  content: '';
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.7) 100%);
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
}

.title {
  z-index: 1;
  text-shadow: 4px 4px 0 rgb(111, 187, 231);
}

.menu {
  width: 75%;
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-bottom: 48px;
}

.menu__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 80%;
}

.menu__link {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #242424;
  transition: text-shadow 0.3s ease 0.15s;
  z-index: 10;
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
}

.menu__link:hover {
  text-shadow: 2px 2px 0px #ff66005e;
}

.menu__dropdown-container {
  position: relative;
  box-sizing: border-box;
  padding-bottom: 12px;
}

.dropdown {
  display: none;
  position: absolute;
  left: 50%;
  top: 2.5em;
  transform: translate(-50%);
  padding: 12px;
  opacity: 0;
  transition: opacity 0.3s ease 0.05s;
}

.menu__dropdown-container_enter .dropdown {
  display: grid;
}

.menu__dropdown-container_show .dropdown {
  opacity: 1;
}

.dropdown__about {
  grid-template-columns: 1fr 4fr;
  gap: 12px;
  width: 400px;
}

.dropdown__about-image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  justify-self: center;
  align-self: center;
}

.dropdown__about-text {
  margin: 0;
  color: #000;
}

.dropdown__projects {
  grid-template-columns: 1fr;
  gap: 4px;
}

.dropdown__projects-link {
  text-decoration: none;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 25px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dropdown__projects-link:hover {
  transform: translateY(-1px);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.dropdown__contact {
  gap: 4px;
  grid-template-areas:
    'linkedin linkedin'
    'github twitter'
    'medium spotify';
}

.dropdown__contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  text-decoration: none;
  border-radius: 50px;
  font-weight: 500;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dropdown__contact-link:hover {
  transform: translateY(-1px);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.dropdown__contact-link_linkedin {
  grid-area: linkedin;
  background-color: #0e76a8;
}

.dropdown__contact-link_github {
  grid-area: github;
  background-color: #333;
}

.dropdown__contact-link_twitter {
  grid-area: twitter;
  background-color: #00acee;
}

.dropdown__contact-link_medium {
  grid-area: medium;
  background-color: #000;
}

.dropdown__contact-link_spotify {
  grid-area: spotify;
  background-color: #1db954;
}

.content {
  z-index: 0;
  backdrop-filter: blur(10px);
  padding: 16px;
  box-sizing: border-box;
  background-color: rgba(247, 187, 216, 0.4);
}

.content__paragraph {
  margin: 0;
  margin-bottom: 28px;
  color: #242424;
  line-height: 1.5em;
}

.content__link {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.highlight {
  opacity: 0;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
  z-index: -1;
}

.highlight__arrow {
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(255, 255, 255, 0.7);
}

.highlight_show {
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-image: url(./images/stop.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  z-index: 4;
  padding: 12px;
  box-sizing: border-box;
}

.overlay:after {
  content: '';
  background-color: #362d2499;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
}

.header {
  text-align: center;
  z-index: 1;
}

@media (max-width: 480px) {
  .menu {
    display: none;
  }

  .content {
    display: none;
  }
  .overlay {
    display: flex;
  }
  .canvas {
    display: none;
  }
}

.hide {
  display: none;
}
