@import url(../../vendor/normalize.css);
@import url(../../fonts/fonts.css);

@import url(../../images/back-button/back-button.css);

html {
  box-sizing: border-box;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 220px;
  min-height: 100vh;
  background-color: black;
  font-family: 'RobotoSlab';
  font-weight: 200;
  box-sizing: border-box;
  margin: 0;
  padding: 36px;
  background-image: url(./images/background.jpeg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;

  /* variables */
  --radius: 10px;
  --sepia: 50%;
  --border: #675951;
}

.page:after {
  content: '';
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
}

.content {
  padding: 16px 32px;
  background-color: transparent;
  border-radius: 10px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 45%;
  box-shadow: 0 4px 42px rgba(49, 40, 35, 0.7);
  overflow: hidden;
}

.search {
  border-radius: 5px;
  /* background-color: transparent; */
  box-shadow: 0 0 100px black;
  border: none;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 900;
  text-align: center;
  z-index: 10;
}

.suggestions {
  width: 100%;
  padding: 0;
  padding-top: 10px;
  margin: 0;
  box-shadow: 0 4px 42px rgba(49, 40, 35, 0.7);
  border-radius: 5px;
  transform: translateY(-10px);
  box-sizing: border-box;
}

.suggestions__item {
  border-radius: 5px;
  list-style: none;
  padding: 4px 8px;
  color: gray;
  background-color: transparent;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suggestions__item:hover {
  opacity: 0.8;
  background-color: rgba(49, 40, 35, 0.1);
}

/* .suggestions__item:nth-child(even) {
  text-align: right;
} */

.highlight {
  font-weight: 700;
}

@media (max-width: 768px) {
  .content {
    width: 85%;
  }
}

@media (max-width: 480px) {
  .page {
    padding: 12px;
  }
  .content {
    padding: 16px;
    width: auto;
  }
}
