html {
  box-sizing: border-box;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 330px;
  min-height: 100vh;
  background-color: black;
  font-family: 'Inter', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 36px;
  background-image: url(./images/background.jpeg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

  /* variables */
  --radius: 10px;
  --sepia: 50%;
  --border: #675951;
}

.page:after {
  content: "";
  background-color: rgba(126,95,78, .3);
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
}

.content {
  padding: 32px;
  background-color: transparent;
  border-radius: 10px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 75%;
  box-shadow: 0 4px 42px rgba(49, 40, 35, 0.7);
}
.image {
  max-width: 50vmin;
  max-height: 50vmin;
  margin-bottom: 36px;
  border-radius: var(--radius);
  box-sizing: border-box;
  overflow: hidden;
  border: 20px solid var(--border);
  /* padding: 20px; */
  background: rgba(48,33,13,.5);
  filter: sepia(var(--sepia));
}

.inputs {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
}

.input-label {
  text-transform: lowercase;
  font-weight: 300;
  margin: 0;
  margin-bottom: 8px;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .inputs {
    flex-direction: column;
  }

  .content {
    width: 85%;
  }
}

@media (max-width: 480px) {
  .page {
    padding: 12px;
  }

  .content {
    padding: 16px;
    width: auto;
  }

  .image {
    margin-bottom: 16px;
    max-width: 75vmin;
  max-height: 75vmin;
  }
}
