@import url(../../vendor/normalize.css);
@import url(../../fonts/fonts.css);

@import url(../../images/back-button/back-button.css);

html {
  box-sizing: border-box;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
  font-family: 'RobotoSlab';
  font-weight: 200;
  box-sizing: border-box;
  margin: 0;
  padding: 36px;
  background-image: url(./images/background.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.page:after {
  content: '';
  /* background: radial-gradient(circle, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 6) 100%); */
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  /* filter: blur(10px); */
}

.content {
  /*  */
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: all 0.3s ease;
}

.content_complete {
  width: auto;
  padding: 24px 48px;
  border: 2px solid gray;
  background-color: rgba(128, 128, 128, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 16px;
}

.content__time-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 28px;
  min-width: 248px;
}

.content__countdown {
  /*  */
  margin: 0;
  font-size: 96px;
  min-height: 1em;
  width: 100%;
  text-align: center;
}

.content__termination {
  /*  */
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  min-height: 1em;
  width: 100%;
  text-align: center;
}

.content__options {
  /*  */
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
}

.content__button {
  border: 2px solid gray;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.301);
  color: #fff;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.15s ease, border 0.15s ease;
  backdrop-filter: blur(2px);
}

.content__button:hover {
  background-color: rgba(128, 128, 128, 0.6);
  border: 2px solid #fff;
}

.content__reset-button {
  border: 2px solid gray;
  background-color: rgba(128, 128, 128, 0.301);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.15s ease, border 0.15s ease;
  backdrop-filter: blur(2px);
  padding: 8px 32px;
  border-radius: 50px;
}

.content__reset-button:hover {
  background-color: rgba(128, 128, 128, 0.6);
  border: 2px solid #fff;
}

.content__clear {
  /*  */
  border: 2px solid gray;
  border-radius: 50px;
  background-color: rgba(128, 128, 128, 0.301);
  color: #fff;
  padding: 4px 54px;
  cursor: pointer;
  transition: background-color 0.15s ease, border 0.15s ease;
  backdrop-filter: blur(2px);
}

.content__clear:hover {
  background-color: rgba(128, 128, 128, 0.6);
  border: 2px solid #fff;
}
.content__input {
  /*  */
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  color: #fff;
  border-radius: 8px;
  border: 2px solid gray;
  padding: 8px;
  transition: border 0.15s ease;
  backdrop-filter: blur(2px);
}

.content__input:focus {
  outline: none;
  border: 2px solid #fff;
}

.hide {
  display: none;
}
@media (max-width: 780px) {
  .content__options {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-image: url(./images/stop.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  z-index: 4;
  padding: 12px;
  padding: 0;
}

.overlay:after {
  content: "";
  background-color: #362d2499;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
}

@media (max-width: 780px) {
  .overlay {
    display: flex;
  }
  .canvas {
    display: none;
  }
} */
